

{% load static %}
 <!-- ======= About Section ======= -->
 <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About us</h2>
        <p></p>
      </div> 
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src='{% static "img/slide-1.jpg" %}'  class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3><span style="color: #4ab849 ;">GSOI</span> provides affordable field engineering solutions.</h3>
          <p class="fst-italic">           
            for your inspection needs in the Oil & Gas and renewable energy industry.
             Located in Stavanger, the oil capital of the North Sea. We offer an independent solution for your business, from :
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> FA.T, FI, PPM, PIM.</li>
            <li><i class="ri-check-double-line"></i>  Vigilancia.</li>
            <li><i class="ri-check-double-line"></i> Expediting to Offshore survey.</li>
          </ul>
          <p>
            We provide independent, impartial third party inspection services to companies operating
             within the oil and gas, valve, power generation and chemical industries in Norway, Sweden,
              Denmark, Iceland and Finland.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
