{% load static %}
    
<div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src='{% static "img/slide-1.jpg" %}' class="d-block w-100" alt="1"/>
      <div class="carousel-caption d-none d-md-block">
        
              <h5 class="carousel-h5">We provide industrial <span class="carousel-span">Inspection</span> services in Norway.</h5>
              <p class="carousel-p">Providing TPI, Expediting, Production Monitoring and Audits.</p>
          </div>
        
    </div>

    <div class="carousel-item">
      <img src='{% static "img/slide-2.jpg" %}' class="d-block w-100" alt="2"/>
      <div class="carousel-caption d-none d-md-block">
      <h5 class="carousel-h5" data-aos="fade-left">We have <span class="carousel-span">Local</span> inspectors.</h5>
      <p class="carousel-p" data-aos="fade-left">Our inspectors are located in Norway at Stavanger,
         Bergen, Trondheim and Drammen. Sweden at Gothenburg. 
         Covering all Norway and Nordic Countries.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src='{% static "img/slide-3.jpg" %}' class="d-block w-100" alt="3"/>
      <div class="carousel-caption d-none d-md-block">
      <h5 class="carousel-h5" data-aos="fade-left">Our inspectors have <span class="carousel-span">Certified</span> competences.</h5>
      <p class="carousel-p" data-aos="fade-left">IECEx - NACE - DS.1 - OFFSHORE - IRCA - NDT</p>
      </div> 
    </div>

    <div class="carousel-item">
      <img src='{% static "img/slide-4.jpg" %}' class="d-block w-100" alt="4"/>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="carousel-h5" data-aos="fade-left">We have <span class="carousel-span">Local</span> inspectors.</h5>
        <p class="carousel-p" data-aos="fade-left">Our inspectors are located in Norway at Stavanger,
           Bergen, Trondheim and Drammen. Sweden at Gothenburg. 
           Covering all Norway and Nordic Countries.</p>
        </div>
    </div>

    <div class="carousel-item">
      <img src='{% static "img/slide-5.jpg" %}' class="d-block w-100" alt="5"/>
      <div class="carousel-caption d-none d-md-block">
      <h5 class="carousel-h5" data-aos="fade-left">We have <span class="carousel-span">Local</span> inspectors.</h5>
      <p class="carousel-p" data-aos="fade-left">Our inspectors are located in Norway at Stavanger,
         Bergen, Trondheim and Drammen. Sweden at Gothenburg. 
         Covering all Norway and Nordic Countries.</p>
      </div> 
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    
