<div class="d-flex justify-content-center mt-5">
    <div class="col-md-6">
      <form method="post" action="{% url 'enviar_correo' %}" class="mx-auto" style="max-width: 500px;">
        {% csrf_token %}
        <div class="mb-3">
          <label for="asunto" class="form-label">Asunto:</label>
          <input type="text" name="asunto" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="mensaje" class="form-label">Mensaje:</label>
          <textarea name="mensaje" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Enviar correo</button>
        </div>
      </form>
    </div>
  </div>
  
  
