

{% load static %}
 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Check our Services</p>
      </div>

      <div class="row">        
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-search"></i></div>
            <h4 class="services-h4"><a href="">Third Party Inspections</a></h4>
            <p class="services-p">Our inspectors are ready for your assignment, 
              short and long term, representing your interest 
              making sure that your instructions are followed, 
              reporting in detail and on time.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-clock"></i></div>
            <h4 class="services-h4 "><a href="">Expediting</a></h4>
            <p class="services-p">The GSOI expeditors create a good relation with vendors,
               obtaining detailed information regarding the status of your
                project at different stages</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-balance-scale"></i>
            </div>
            <h4 class="services-h4"><a href="">Risk/Reliability Assessments</a></h4>
            <p class="services-p">GSOI provides custom made risk assessments including 
              reliability assessments for electromechanical equipment,
               components and machinery. Supported by monitoring and follow 
               up on site. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-clipboard-check"></i></div>
            <h4 class="services-h4"><a href="">Audits</a></h4>
            <p class="services-p">Our Lead Auditors examine vendor's processes based on
               ISO 9001:2015 and ISO 19011-2002. Providing an independent
                report on these records according to our customer requirements.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-chart-line"></i></div>
            <h4 class="services-h4"><a href="">Production Monitoring</a></h4>
            <p class="services-p">The GSOI inspectors witness and document the manufacturing process.
               You will receive a periodical reports on demand, regarding quality 
               and completion status or your material, giving you the overview of 
               the entire process.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-chart-bar"></i></div>
            <h4 class="services-h4"><a href="">Business strengths</a></h4>
            <p class="services-p">Highly competitive, responsive and with a vision for excellence.</p>
          </div>
        </div>

      </div-->

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>Are you looking for a job as inspector? work with us.</h3>
        <p> </p>
        <a class="cta-btn" href="#contact">Contact us</a>
      </div>

    </div>
  </section><!-- End Cta Section -->
