{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
{% tailwind_css %}    
</head>
<body >
    <nav class="bg-gray-800 py-2 px-4 flex h-14 items-center justify-between">
        <div class="text-white font-medium justify-start">
            
                <a href="/"  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-lg font-medium">Home</a>
            
                <a href="{% url 'Tasks' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Tasks Pending</a>
           
                <a href="/tasks_completed/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Tasks completed</a>
            </div>
        
        <div class="flex">
          {% if user.is_authenticated %}  
          <a href="/logout" class="px-2 text-white hover:bg-gray-700 rounded-md">Logout</a>
          {% else %}
          <a href="/signup" class="px-2 text-white hover:bg-gray-700 rounded-md">Signup</a>
          <a href="/login" class="px-2 text-white hover:bg-gray-700 rounded-md">Login</a>
          {% endif %}
        </div>
      </nav>
     
      <!--nav class="p-5 bg-white shadow md:flex md:items-center md:justify-between">
        <div><span class="text-2xl font-sans cursor-pointer"><img class="h-10 inline" src="" > 
          Tareas</span>
        </div>
        <ul class="md:flex md:items-center">
          <li class="mx-4">
            <a href="/" class="text-xl hover:text-cyan-500">Start</a>
          </li>
          <li class="mx-4">
            <a href="{% url 'Tasks' %}" class="text-xl hover:text-cyan-500">tasks</a>
          </li>
          <li class="mx-4">
            <a href="/tasks_completed/" class="text-xl hover:text-cyan-500">Completadas</a>
          </li>
        </ul>
      </nav-->
      
     

      
    
    {% block content %}

    {% endblock %}
</body>
</html>