{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla aperiam id quaerat debitis nobis corporis tempora ipsum deserunt, obcaecati alias molestiae sed delectus dolores vero libero laudantium labore officiis quia suscipit minima a similique ab. Ut fuga aliquam magnam inventore vitae, laudantium laboriosam aut est assumenda animi, nam itaque, doloremque asperiores quod beatae. Tenetur dignissimos facilis, iste nihil sint cupiditate mollitia eos culpa, dolores vero in dolorum quidem quia reiciendis! Omnis quia ipsa magni dolorem doloribus! Amet inventore, possimus quos debitis enim nulla illum atque laborum voluptates expedita repudiandae corrupti vitae voluptatibus ea natus molestiae optio porro alias molestias! Rem!</p>
{% endblock %}